<div [formGroup]="formGroup">
    <address-line [label]="line1Label" idRef="line1" formControlName="line1" [readonly]="true">
    </address-line>
    <address-line [label]="line2Label" idRef="line2" formControlName="line2" [readonly]="true">
    </address-line>
    <address-line [label]="line3Label" idRef="line3" formControlName="line3" [readonly]="true">
    </address-line>
    <address-line [label]="line4Label" idRef="line4" formControlName="line4" [readonly]="true">
    </address-line>
    <address-line [label]="line5Label" idRef="line5" formControlName="line5" [readonly]="true">
    </address-line>
    <postcode [label]="postcodeLabel" idRef="postcode" formControlName="postcode" [readonly]="true">
    </postcode>
</div>