<div id="heading">
  <h1>
    {{ text }}
    <a routerLink="{{ buttonLink }}" *ngIf="buttonIcon || buttonText" class="btn btn-default btn-lg {{ buttonClass }}"
      style="margin-left: 15px">
      <app-icon *ngIf="buttonIcon" iconClass="{{ buttonIcon }}"></app-icon>
      <span *ngIf="buttonText" style="margin-left: 7px;">{{ buttonText }}</span>
    </a>
  </h1>
  <div *ngIf="showRequiredMessage" style="margin-left: 2px">
    <span> Required fields are marked with an asterisk (
      <abbr class="req" title="Required Field">
        <img src="./assets/images/icons/asterisk.svg" alt="Asterisk">
      </abbr>).
    </span>
  </div>
  <br>
</div>