@import 'styles/variables';

.search {
  text-align: left;
  background-color: #fff;
  color: #000;
  height: 185px;
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 750;
  width: 260px;
  display: block;
  box-shadow: $shadowOne;
}

.search__dropdown > a {
  position: absolute;
  color: #555;
  top: 20px;
  right: 20px;
}

.search__dropdown__header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;

  label {
    margin-bottom: 0;
    line-height: 1;
    padding: 12px;
  }
}

.search__dropdown__body {
  padding: 18px 12px;

  label,
  small {
    display: none;
  }
}

.close-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px 12px;
  line-height: 1;
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.dropdown-toggle {
  padding-right: 2px;
  padding-left: 2px;
}
